<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Welcome to our website, a digital realm crafted with the power of
        Node.js and MongoDB! We're excited to share with you the culmination of
        innovative technology and creative vision.
      </p><br>
      <p>
        At the heart of our platform is Node.js, a robust, JavaScript-based
        runtime known for its speed and scalability. This allows us to offer you
        a lightning-fast and responsive user experience. Whether you're browsing
        content, interacting with dynamic features, or contributing your own,
        Node.js ensures a seamless journey.
      </p><br>
      <p>
        Behind the scenes, MongoDB, a flexible NoSQL database, provides the
        backbone for storing, managing, and retrieving data efficiently. Its
        document-oriented structure
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
